body {
    text-align: center;
    background-color: black;
}

.container {
    background-color: #ffd800;
    width: 505px;
    margin: auto;
    color: red;
    font: 40px/80px Impact, Gadget, Fantasy;
    border-radius: 7px;
}

header {
    height: 80px;
}

main {
    height: 600px;
}